/*#view{

    font-family: sans-serif;
    border-collapse: collapse;
    width: 80%;
    padding-left: 10px;
    margin-top: 12px;

}
.td, th{
    color: #dddddd;
    background-color: black;
    border: 1px solid;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even){

    background-color: white;
}*/

#pagination{
    padding-left: 354px;
}